<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CRUD APP</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>

<body>

    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Lista</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <h1 class="text-center my-5">CRUD APP</h1>

    <div class="container">
        <div class="row">
            <div class="col-4">
                <details>
                    <summary class="col-5 btn btn-secondary mb-4 mx-auto"
                        style="display: flex; justify-content: center;">Crear nuevo usuario</summary>
                    <div class="card py-4 px-4">
                        <h4 class="mb-4 text-center">Formulario de ingreso</h4>
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label class="form-label">Nombre Completo</label>
                                <input name="nombre_completo" type="text" class="form-control"
                                    placeholder="Inserte nombre de la persona" required>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Peso (kg)</label>
                                <input name="peso" type="number" step="0.01" class="form-control"
                                    placeholder="Inserte peso de la persona" required>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Talla (mt)</label>
                                <input name="talla" type="number" step="0.01" class="form-control"
                                    placeholder="Inserte talla de la persona" required>
                            </div>
                            <div class="text-center d-grid gap-2">
                                <button type="submit" class="btn btn-primary">Enviar</button>
                            </div>
                        </form>
                    </div>

                </details>
            </div>
            <div class="col-8">
                <table class="table table-striped">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">NOMBRE COMPLETO</th>
                            <th scope="col">PESO (kg)</th>
                            <th scope="col">TALLA (mt)</th>
                            <th scope="col">OPCION</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for persona in personas %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ persona.nombre_completo }}</td>
                            <td>{{ persona.peso }}</td>
                            <td>{{ persona.talla }}</td>
                            <td>
                                <a href="editar/{{ persona.id }}" class="btn btn-info">
                                    <i class="bi bi-pencil"></i>
                                </a>
                                <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal{{ forloop.counter}}">
                                    <i class="bi bi-trash3"></i>
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal{{forloop.counter}}" tabindex="-1"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmar
                                                    eliminación</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                ¿Estás seguro de eliminar al usuario {{persona.nombre_completo}}?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Cerrar</button>
                                                <a href="eliminar/{{ persona.id }}">
                                                    <button type="button" class="btn btn-danger">Eliminar</button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>

